.container {
    display:flex;
    background-color:darkcyan;
    justify-content:space-between;
    align-items:center;
    border: 4px solid black;
    
}
.one{
    background-color: crimson;
    padding: 20px;
    border: 2px solid black;
}
.two{
    background-color: cadetblue;
    padding: 20px;
    border: 2px solid black;
    
    
}
.three{
    background-color: rgb(221, 118, 127);
    border: 3px solid black;
    padding: 20px;
}
